body {
    background: #fafafa;
    font-family: "Press Start 2P", cursive;
    -webkit-font-smoothing: none;
    color: #000;
    overflow: scroll;
}

body.slides {
    overflow: hidden;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1 {
    text-align: center;
    font-size: medium;
    line-height: 2em;
    color: #F33;

    i[class^="icon"] {
        font-size: 2em;
    }

    a {
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 2em 0;
    }
}

h2 {
    background: #F33;
    color: #FFF;
    padding: 0.25em;
}

h3 {
    font-size: medium;
    border-bottom: 4px solid #F33;
    padding-bottom: 4px;
}

h4 {
    font-size: small;
    border-left: 4px solid #F33;
    padding-left: 4px;
}

p {
    font-size: 12px;
}

a {
    color: #F33;
}

a:hover {
    color: #F66;
}

table {
    width: 100%;
    font-size: 12px;
}

thead {
    background: #eee;

    th {
        font-weight: bold;
        height: 2em;
        line-height: 2em;
        text-align: center;
    }
}

tbody {
    tr:hover {
        background: #ffc;
    }
    th {
        text-align: center;
    }

    th, td {
        padding: 0.5em 1em;
        height: 4em;
    }
}

i[class^="icon"] {
    text-decoration: none;
    padding: 0.5em;
}

body.slides {
    h1, h2, h3, h4 {
        padding: 0.25em 0;
        margin-bottom: 0.25em; 
    }
    
    .title {
        padding-bottom: 1em;
    }
    
    .fragment {
        padding-bottom: 1em;
    }

    .AugmentedMirror img {
        height: 300px;
    }

    section.whatisgame .examples {
        img {
            height: 250px;
            padding: 0.5em;
        }
    }

    section.whomakegame .examples {
        img {
            max-height: 150px;
            max-width: 300px;
            padding: 0.5em;
        }
    }

    section.videogame {
        img {
            height: 250px;
            padding: 0.5em;
        }
    }
}